@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(215, 181, 258);
}
/* globals.css or any CSS file you use */
.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.montserrat-regular2 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.montserrat-italic {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
}
/*for slide up*/
@keyframes slideInUp{
  0%{
    transform:translateY(10px);
    opacity: 0;
  }
  100%{
    transform: translateY(0%);
    opacity: 1;
  }}
.slide-up{
  animation: slideInUp 0.5s ease-in forwards;
}
/*for slide from left*/

@keyframes slideInLeft{
  0%{
    transform: translateX(-50px);
    opacity: 0;
  }
  100%{
    transform: translateX(0%);
    opacity: 1;
  }
}
.slide-left{
animation: slideInLeft 1s ease-out forwards;
}

